{% extends 'profile/base.html' %}
{% load staticfiles %}


{% block content %}
    <canvas></canvas>
    <div class="container">
        <div class="page-header">
            <h1>Greg Olmschenk</h1>
        </div>
        <div class="col-md-4">
            <h2>Education</h2>
            {% for education_entry in education_entries %}
                <p>
                    {{ education_entry.degree }}, {{ education_entry.graduation_date | date:"F Y" | default:"Current"}}
                    <br>
                    {{ education_entry.additional_information }}
                </p>
            {% endfor %}
        </div>
        <div id='essay_div' class="col-md-4">
            <h2>Published Essays</h2>
            {% for essay in essays %}
                <a href="{% url 'essay' slug=essay.slug %}">{{ essay.title }}</a>
            {% endfor %}
        </div>
    </div>
    <script src="{% static "jquery/dist/jquery.js" %}"></script>
    <script src="{% static "js/constellation.js" %}"></script>
{% endblock %}
